<!-- about section -->
<section class="about-section" id="about">
  <div class="about-wrapper container">
    <div class="about-content-wrapper">
      <svg class="about-icon" width="48" height="48">
        <use href="./img-project/icons.svg#icon-verified"></use>
      </svg>
      <h2 class="about-title">
        Empowering educators and students through innovative educational trends
        and insights.
      </h2>
      <p class="about-text">
        The Educational Conference 2025 aims to foster collaboration and
        knowledge sharing among educators, students, and researchers. Attendees
        will gain valuable insights into modern teaching methodologies and
        educational technologies that can enhance their practices.
      </p>
    </div>
    <div class="about-img-wrapper">
      <picture
        ><source
          media="(min-width:1440px)"
          srcset="
            ./img-project/about/desktop/Two-educators.jpg    1x,
            ./img-project/about/desktop/Two-educators@2x.jpg 2x
          "
          width="640"
          height="682" />
        <source
          media="(min-width:768px)"
          srcset="
            ./img-project/about/tablet/Two-educators-tablet.jpg    1x,
            ./img-project/about/tablet/Two-educators-tablet@2x.jpg 2x
          "
          width="340"
          height="362" />
        <img
          class="about-img"
          srcset="./img-project/about/mobile/Two-educators-mobile@2x.jpg 2x"
          src="./img-project/about/mobile/Two-educators-mobile.jpg"
          alt="Two educators picture"
          width="335"
          height="357"
      /></picture>
    </div>
  </div>
</section>
<!-- /about section -->
