<!--======== GALLERY ======== -->
<section class="gallery">
  <div class="container">
    <h2 class="gallery-section">Highlights from previous conferences</h2>
    <p class="gallery-text">Feel the energy from previous events</p>
    <ul class="gallery-list">
      <li class="gallery-li">
        <img
          class="gallery-img"
          srcset="
            ./img/gallery/gallery-1.jpg    1x,
            ./img/gallery/gallery-1@2x.jpg 2x
          "
          src="./img/gallery/gallery-1.jpg"
          alt="Conference speaker presenting"
          width="640"
          height="640"
        />
      </li>
      <li class="gallery-li">
        <img
          class="gallery-img"
          srcset="
            ./img/gallery/gallery-2.jpg    1x,
            ./img/gallery/gallery-2@2x.jpg 2x
          "
          src="./img/gallery/gallery-2.jpg"
          alt="Team collaboration workshop"
          width="304"
          height="304"
        />
      </li>
      <li class="gallery-li">
        <img
          class="gallery-img"
          srcset="
            ./img/gallery/gallery-3.jpg    1x,
            ./img/gallery/gallery-3@2x.jpg 2x
          "
          src="./img/gallery/gallery-3.jpg"
          alt="Networking coffee break"
          width="304"
          height="304"
        />
      </li>
      <li class="gallery-li">
        <img
          class="gallery-img"
          srcset="
            ./img/gallery/gallery-4.jpg    1x,
            ./img/gallery/gallery-4@2x.jpg 2x
          "
          src="./img/gallery/gallery-4.jpg"
          alt="Attendee taking notes"
          width="304"
          height="304"
        />
      </li>
      <li class="gallery-li">
        <img
          class="gallery-img"
          srcset="
            ./img/gallery/gallery-5.jpg    1x,
            ./img/gallery/gallery-5@2x.jpg 2x
          "
          src="./img/gallery/gallery-5.jpg"
          alt="Panel discussion"
          width="304"
          height="304"
        />
      </li>
    </ul>
  </div>
</section>
