<header class="header">
  <div class="container header-container">
    <a href="" class="logo-header">
      <svg class="logo-header-icon" width="158" height="37">
        <use href="./img-project/icons.svg#icon-logo-1"></use>
      </svg>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="" class="header-nav-link link">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link link">About Us</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link link">Speakers</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link link">Schedule</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link link">Gallery</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link link">Testimonials</a>
        </li>
      </ul>
    </nav>
    <button class="burger-menu-header" type="button">
      <svg class="burger-menu-header-icon" width="24" height="24">
        <use href="./img-project/icons.svg#icon-menu"></use>
      </svg>
    </button>
    <a class="header-btn" type="button">Register Now</a>
  </div>
</header>
