<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a href="" class="logo-header">
        <svg class="logo-header-icon" widht="158" height="37">
          <use href="./img-project/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="" class="header-nav-link link">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link link">About Us</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link link">Speakers</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link link">Schedule</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link link">Gallery</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link link">Testimonials</a>
        </li>
      </ul>
    </nav>
    <button class="burger-menu-btn">
      <svg class="icon-burger-menu" widht="24" height="24">
        <use href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
