<section class="hero">
    <div class="container-hero">
        <h1 class="hero-title">Join Us for EduConf 2025</h1>
        <div class="text-button-wrapper">
        <p class="hero-text">Mark your calendars for the <span class="mobile-break-hero">Educational Conference 2025,</span>
        <span class="mobile-break">happening on August <span class="tablet-break">15-17, 2025.</span>This event is designed for 
        educators and innovators eager to explore the latest trends in education.</p>
        <div class="button-hero-container">
        <button class="hero-button" type="button">Learn More
            <a class="learn-more" href="#schedule"></a>
        </button>
        </div>
        </div>
        <img class="hero-page" src="./img-project/conference.jpg" alt="A vibrant, wide-angle photograph of a modern educational conference." >
    </div>
</section>