<section class="speakers-section">
  <div class="speakers-intro">
    <h2 class="speakers-header">Meet our Speakers</h2>

    <ul class="speakers-list">
      <!-- #region  David -->
      <li class="speakers-item">
        <div class="speakers-wrapper">
          <picture>
            <source
              srcset="
                ../img-project/speakers/desc/david-johnson.jpg    1x,
                ../img-project/speakers/desc/david-johnson@2x.jpg 2x
              "
              media="(min-width: 1440px)" />
            <source
              srcset="
                ../img-project/speakers/retina/david-johnson.jpg    1x,
                ../img-project/speakers/retina/david-johnson@2x.jpg 2x
              "
              media="(min-width: 768px)" />
            <img
              srcset="../img-project/speakers/mob/david-johnson@2x.jpg 2x"
              src="../img-project/speakers/mob/david-johnson.jpg"
              alt="Prof. David Johnson"
              class="speaker-foto"
              width="335"
              height="335"
          /></picture>

          <h3 class="speakers-name">Prof. David Johnson</h3>
          <p class="skeakers-academics-position">
            Professor of Educational Policy
          </p>
        </div>
        <div class="social-wrapper">
          <p class="speakers-about">
            With over 20 years of experience in shaping educational frameworks,
            Professor Johnson will moderate our panel discussion, bringing his
            deep understanding of policy and practice to the forefront of the
            conversation.
          </p>
          <ul class="social-list">
            <li class="social-item">
              <svg class="social-item-icon" width="24" height="24">
                <use href="../img-project/icons.svg#icon-linkedIn">/</use>
              </svg>
            </li>
            <li class="social-item">
              <svg class="social-item-icon" width="24" height="24">
                <use href="../img-project/icons.svg#icon-x-social">/</use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <!-- #endregion  David -->

      <!-- #region Evelin -->
      <li class="speakers-item">
        <div class="social-wrapper">
          <picture>
            <source
              srcset="
                ../img-project/speakers/desc/evelyn-smith.jpg    1x,
                ../img-project/speakers/desc/evelyn-smith@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img-project/speakers/retina/evelyn-smith.jpg    1x,
                ../img-project/speakers/retina/evelyn-smith@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              srcset="../img-project/speakers/mob/evelyn-smith@2x.jpg 2x"
              src="../img-project/speakers/mob/evelyn-smith.jpg"
              alt="Dr. Evelyn Smith"
              class="speaker-foto"
              width="335"
              height="335"
            />
          </picture>
          <h3 class="speakers-name">Dr. Evelyn Smith</h3>
          <p class="skeakers-academics-position">
            Educational Futurist & Marketing Guru
          </p>
        </div>
        <div class="social-wrapper">
          <p class="speakers-about">
            Dr. Smith is a renowned thought leader on the intersection of
            education and marketing. Her opening keynote will set the stage for
            the future of learning, and her later session will provide marketing
            strategies for educational institutions.
          </p>
          <ul class="social-list">
            <ul class="social-list">
              <li class="social-item">
                <svg class="social-item-icon" width="24" height="24">
                  <use href="../img-project/icons.svg#icon-x-social">/</use>
                </svg>
              </li>
            </ul>
          </ul>
        </div>
      </li>
      <!-- #endregion Evelin -->

      <!-- #region Kenji  -->
      <li class="speakers-item">
        <div class="social-wrapper">
          <picture>
            <source
              srcset="
                ../img-project/speakers/desc/kenji-brown.jpg    1x,
                ../img-project/speakers/desc/kenji-brown@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img-project/speakers/retina/kenji-brown.jpg    1x,
                ../img-project/speakers/retina/kenji-brown@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              srcset="../img-project/speakers/mob/kenji-brown@2x.jpg 2x"
              src="../img-project/speakers/mob/kenji-brown.jpg"
              alt="Dr. Kenji Brown"
              class="speaker-foto"
              width="335"
              height="335"
            />
          </picture>
          <h3 class="speakers-name">Dr. Kenji Brown</h3>
          <p class="skeakers-academics-position">CEO of EduInnovate Corp.</p>
        </div>
        <div class="social-wrapper">
          <p class="speakers-about">
            As the founder of a leading EdTech startup, Dr. Brown is at the
            cutting edge of educational innovation. His session will explore
            transformative technologies that are shaping the future of
            education.
          </p>
          <ul class="social-list">
            <li class="social-item">
              <svg class="social-item-icon" width="24" height="24">
                <use href="../img-project/icons.svg#icon-instagram">/</use>
              </svg>
            </li>
            <li class="social-item">
              <svg class="social-item-icon" width="24" height="24">
                <use href="../img-project/icons.svg#icon-x-social">/</use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <!-- #endregion Kenji  -->

      <!-- #region Lee -->
      <li class="speakers-item">
        <div class="social-wrapper">
          <picture>
            <source
              srcset="
                ../img-project/speakers/desc/chloe-lee.jpg    1x,
                ../img-project/speakers/desc/chloe-lee@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img-project/speakers/retina/chloe-lee.jpg    1x,
                ../img-project/speakers/retina/chloe-lee@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              srcset="../img-project/speakers/mob/chloe-lee@2x.jpg 2x"
              src="../img-project/speakers/mob/chloe-lee.jpg"
              alt="Ms. Chloe Lee"
              class="speaker-foto"
              width="335"
              height="335"
            />
          </picture>
          <h3 class="speakers-name">Ms. Chloe Lee</h3>
          <p class="skeakers-academics-position">
            Lead AI & Machine Learning Researcher
          </p>
        </div>
        <div class="social-wrapper">
          <p class="speakers-about">
            Ms. Lee specializes in the application of artificial intelligence in
            learning environments. She will demystify complex AI concepts and
            showcase the latest innovations during her sessions on AI and
            Machine Learning basics.
          </p>
          <ul class="social-list">
            <li class="social-item">
              <svg class="social-item-icon" width="24" height="24">
                <use href="../img-project/icons.svg#icon-linkedIn">/</use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <!-- #endregion Lee -->

      <!-- #region Aarav -->
      <li class="speakers-item">
        <div class="social-wrapper">
          <picture>
            <source
              srcset="
                ../img-project/speakers/desc/aarav-patel.jpg    1x,
                ../img-project/speakers/desc/aarav-patel@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img-project/speakers/retina/aarav-patel.jpg    1x,
                ../img-project/speakers/retina/aarav-patel@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              srcset="../img-project/speakers/mob/aarav-patel@2x.jpg 2x"
              src="../img-project/speakers/mob/aarav-patel.jpg"
              alt="Dr. Aarav Patel"
              class="speaker-foto"
              width="335"
              height="335"
            />
          </picture>
          <h3 class="speakers-name">Dr. Aarav Patel</h3>
          <p class="skeakers-academics-position">
            UX Strategist & Design Thinking Expert
          </p>
        </div>
        <div class="social-wrapper">
          <p class="speakers-about">
            Dr. Patel champions human-centered design in technology. He will
            lead a hands-on workshop on Design Thinking and share his expertise
            on creating intuitive user experiences for educational platforms.
          </p>
          <ul class="social-list">
            <li class="social-item">
              <svg class="social-item-icon" width="24" height="24">
                <use href="../img-project/icons.svg#icon-instagram">/</use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <!-- #endregion Aarav -->

      <!-- #region Sofia -->
      <li class="speakers-item">
        <div class="social-wrapper">
          <picture>
            <source
              srcset="
                ../img-project/speakers/desc/sofia-garcia.jpg    1x,
                ../img-project/speakers/desc/sofia-garcia@2x.jpg 2x
              "
              media="(min-width:1440px)"
            />
            <source
              srcset="
                ../img-project/speakers/retina/sofia-garcia.jpg    1x,
                ../img-project/speakers/retina/sofia-garcia@2x.jpg 2x
              "
              media="(min-width:768px)"
            />
            <img
              srcset="../img-project/speakers/mob/sofia-garcia@2x.jpg 2x"
              src="../img-project/speakers/mob/sofia-garcia.jpg"
              alt="Ms. Sofia Garcia"
              class="speaker-foto"
              width="335"
              height="335"
            />
          </picture>
          <h3 class="speakers-name">Ms. Sofia Garcia</h3>
          <p class="skeakers-academics-position">
            Data Scientist & Information Designer
          </p>
        </div>
        <div class="social-wrapper">
          <p class="speakers-about">
            Ms. Garcia transforms complex data into compelling visual stories.
            Her session will cover powerful data visualization techniques that
            can enhance research, reporting, and student understanding.
          </p>
          <ul class="social-list">
            <li class="social-item">
              <svg class="social-item-icon" width="24" height="24">
                <use href="../img-project/icons.svg#icon-facebook">/</use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <!-- #endregion Sofia -->

      <!-- #region BEN -->
      <li class="speakers-item">
        <div class="social-wrapper">
          <picture>
            <source
              srcset="
                ../img-project/speakers/desc/ben-thompson.jpg    1x,
                ../img-project/speakers/desc/ben-thompson@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img-project/speakers/retina/ben-thompson.jpg    1x,
                ../img-project/speakers/retina/ben-thompson@2x.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <img
              srcset="../img-project/speakers/mob/ben-thompson@2x.jpg 2x"
              src="../img-project/speakers/mob/ben-thompson.jpg"
              alt="Mr. Ben Thompson"
              class="speaker-foto"
              width="335"
              height="335"
            />
          </picture>
          <h3 class="speakers-name">Mr. Ben Thompson</h3>
          <p class="skeakers-academics-position">
            Technology Ethicist & Author
          </p>
        </div>
        <div class="social-wrapper">
          <p class="speakers-about">
            Mr. Thompson is a leading voice in the discussion on digital ethics.
            He will explore the critical ethical considerations of implementing
            new technologies in education, urging a responsible approach to
            innovation.
          </p>
          <ul class="social-list">
            <li class="social-item">
              <svg class="social-item-icon" width="24" height="24">
                <use href="../img-project/icons.svg#icon-linkedIn">/</use>
              </svg>
            </li>
            <li class="social-item">
              <svg class="social-item-icon" width="24" height="24">
                <use href="../img-project/icons.svg#icon-facebook">/</use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <!-- #endregion BEN -->

      <!-- #region Marco -->
      <li class="speakers-item">
        <div class="social-wrapper">
          <picture>
            <source
              srcset="
                ../img-project/speakers/desc/marco-rodriguez.jpg    1x,
                ../img-project/speakers/desc/marco-rodriguez@2x.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ../img-project/speakers/retina/marco-rodriguez.jpg    1x,
                ../img-project/speakers/retina/marco-rodriguez@2x.jpg 2x
              "
              media="(min-width: 768x)"
            />
            <img
              srcset="../img-project/speakers/mob/marco-rodriguez@2x.jpg 2x"
              src="../img-project/speakers/mob/marco-rodriguez.jpg"
              alt="Mr. Marco Rodriguez"
              class="speaker-foto"
              width="335"
              height="335"
            />
          </picture>
          <h3 class="speakers-name">Mr. Marco Rodriguez</h3>
          <p class="skeakers-academics-position">
            Superintendent & Education Reformer
          </p>
        </div>
        <div class="social-wrapper">
          <p class="speakers-about">
            With a career dedicated to transforming public education, Mr.
            Rodriguez will deliver an inspiring closing keynote, reflecting on
            the conference's themes and issuing a powerful call to action for
            all attendees.
          </p>
          <ul class="social-list">
            <li class="social-item">
              <svg class="social-item-icon" width="24" height="24">
                <use href="../img-project/icons.svg#icon-linkedIn">/</use>
              </svg>
            </li>
            <li class="social-item">
              <svg class="social-item-icon" width="24" height="24">
                <use href="../img-project/icons.svg#icon-x-social">/</use>
              </svg>
            </li>
          </ul>
        </div>
      </li>
      <!-- #endregion Marco -->
    </ul>
  </div>
</section>
