.logo-header {
  line-height: 0;
}

.logo-header-icon {
  fill: #03030a;
}

@media screen and (max-width: 1439px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 10px;
  }

  .burger-menu-header {
    padding: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
    fill: #03030a;
  }

  .header-btn,
  .header-nav {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .burger-menu-header {
    display: none;
  }

  .header-container,
  .header-nav-list {
    display: flex;
    align-items: center;
  }

  .logo-header {
    margin-right: 24px;
  }

  .header-nav-list {
    gap: 32px;
  }

  .header-nav-link {
    display: inline-block;
    position: relative;
    padding: 23.5px 0;
    font-size: 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 16px;
    width: 100%;
    height: 1px;
    background-color: #03030a;
    opacity: 0;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:hover::after,
  .header-nav-link:focus::after {
    opacity: 1;
  }

  .header-nav-link:active {
    color: #3444c5;
  }

  .header-nav-link:active::after {
    background-color: #3444c5;
  }

  .header-nav-link:disabled {
    opacity: 0.3;
  }

  .header-btn {
    margin-left: auto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    min-width: 192px;
    padding: 8px 44.5px;
    border-radius: 6px;
    border: 1px solid #3444c5;
    background-color: #3444c5;
    color: #ffffff;
    transition: border 250ms linear, background-color 250ms linear,
      color 250ms linear;
  }

  .header-btn:hover,
  .header-btn:focus {
    border: 1px solid #3444c5;
    background-color: #ffffff;
    color: #03030a;
  }

  .header-btn:active {
    background-color: #d6d9f3;
  }
}